@import url('http://fonts.cdnfonts.com/css/tetris');

body {
	padding: 50px 20px;
	text-align: center;
	font-family: 'Tetris', sans-serif;
	background-color: lightsteelblue;
}

b {
  font-size: 30px;
  font-family: monospace;
}

/* HEADER */
.title {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.title-text {
	margin: 0;
	font-size: 70px;
	font-weight: 600;
}

#logo {
	width: 50px;
	height: 50px;
}

.description {
	margin: 0 0 20px 0;
	font-size: 35px;
}

/* MAIN CONTAINER */
#main {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#mainContainer {
  border: 2px solid rgb(14, 77, 1);
  border-radius: 0.6vh;
  opacity: 0.4;
  transition: 0.7s all ease;
}

.row {
  display: flex;
}

/* theme */
.cell {
  width: 16px;
  height: 16px;
  background-color: white;
  box-sizing: border-box;
}

.empty-cell {
  background-color: black;
}

.tetris-cell {
  border: 1px solid rgb(2, 83, 2);
}

/* GAME OVER SCREEN */
#gameOverScreen {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 0.6vh;
}

#gameOverScreen > h1 {
  font-weight: 600;
  font-size: 2.5vw;
}

/* NEXT ELEMENT WINDOW */
.next-element-wrapper {
  width: 100%;
}

.next-element-wrapper > div {
  width: fit-content;
  text-align: center;
}

/* SCORE BOARD */
.score-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: right;
}

table th,
table td {
  font-family: monospace;
  font-size: 20px;
  font-weight: 600;
}

table td {
  width: 75px;
}